# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
ENV/
.conda/
pip-wheel-metadata/

# Coverage / tooling
.coverage
.coverage.*
.cache
.mypy_cache/
.pyre/
.pytype/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Editors/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini
